
body
{
    
    font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
}
body.dark
{
    
    font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background: #131418;
}
a
{
    text-decoration: none;
    color: black;
}

p
{
    line-height: 1.7;
}
.clear
{
    clear: both;
}
/*header*/
@media (min-width:1110px) 
 {
    span.dark
    {
        color: #2ECA7F;
    }
    .header
    {
        
        background: #2ECA7F;
        height: 120px;
        position: fixed;
        top:0;
        z-index: 3;
        width: 100%;
        height: 120px;
        
    }
    .header.dark
    {
        
        background: #121212;
        border-bottom: 2px solid #1E1E1E;
        
    }

    .container
    {
        width: 85%;
        margin: auto;
    }
    .container .A
    {
        font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: absolute;
    top:53px;
    left: 1178px;
    font-weight: 500;
    font-size: 18px;
        cursor: pointer;
    }
    .container .A.dark
    {
        color:white;
    }
    .container .A.dark:hover
    {
        color:#2ECA7F;
    }
    .container .A:hover
    {
        color:white ;
    }
    .header .me
    {
        width: 50%;
        padding-top: 1px;
        color: white;
        float: left;
    }
    .header h2
    {
        font-weight: bold;
        font-size: 35px;
        font-family: Candara;
        margin-bottom: 0;
    }
    .header h3
    {
        font-size: 20px;
        font-weight: 300;
        margin-top:5px;
        font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    .header .button-dark
    {
        float: right;
        width: 40px;
        height: 20px;
        background-color: white;
        border-radius: 30px;
        margin-top: 50px;
        border: 2px solid #444;
        cursor: pointer;
    }
    .header .button-dark .button
    {
        background-color: white;
        border: 2px solid #444;
        width: 17px;
        height: 17px;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 50%;
    }
    .header .button-dark .button.dark
    {
        background-color: black;
        border: none;
        margin-left: 20px;
        margin-top: 1.22px;

        
    }
    /*header*/


    /*home*/
    .con
    {
        width: 85%;
        margin: auto;
    }
    .con.dark
    {
        background: #131418;
        color: white;
    }



    /*projects*/
    .projects
    {
        margin-top: 150px;
        color: #444;
        margin-left: 5px;
        height: 650px;
    }
    .projects.dark
    {
        
        color: white;
    }
    .projects h2
    {
        font-size: 35px;
        
    }
    .projects .boxs
    {
        width: 450px;
        margin: auto;
        height: 200px;
    }
    .projects .boxs .box
    {
        margin: 0px 20px 20px 0;
        float: left;
        width: 400px;
        height: 500px;
        background: #FFFFFF;
        box-shadow: 5px 5px 7px grey;
        border-radius: 3px;
        text-align: center;
    }
    .projects .boxs .box.dark
    {
        background: #131418;
    }
    .projects .boxs .box .b
    {
        width: 250px;
        height: 250px;
        background: white;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 15px;
        text-align: center;
    
    }
    .projects .boxs .box div
    {
        height: 50%;
        margin-top: auto;

    }
    .projects .boxs .box .b img
    {
        
        width: 80%;
        margin-top: 20px;
    }
    .projects .boxs .box span
    {
    text-transform: capitalize;
    }
    .projects .boxs .box a
    {
    color: #444;
    font-size: 20px;
    }
    .projects .boxs .box a.dark
    {
    color: white;
    }
    .projects .boxs .box a:hover
    {
    color: #2ECA7F;
    }
    /*projects*/

    /*icons*/
    .icons 
    {
        margin: 30px auto;
        width: 429px;
        height: 50px;
    }
    .icons a
    {
        width: 50px;
        height: 50px;
        background: #444;
        border-radius: 50%;
        position: relative;
        float: left;
        margin-right: 20px;
        text-align:center;
    }
    .icons a:hover
    {
        background: #2ECA7F;
    }
    .icons a i
    {
        font-size: 24px;
        /*position: absolute;
        top: 28%;
        left: 35%;*/
        text-align:center;
        color: white;
        margin-top: 13px;
    }
    /*icons*/

    hr
    {
        margin-top: 65px;
        height: 1px;
        background: #000;
        border: none;
        
    }
    .footer
    {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    .footer.dark
    {
        color: white;
    }
 }

















 /* for mobile*/
@media only screen 
and (min-width : 10px) 
and (max-width : 1099px)
 {
   
    span.dark
    {
        color: #2ECA7F;
    }
    body
    {
        width:100%;
        font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    body.dark
    {
        background: #131418;
    }
    h2
    {
        text-transform: uppercase;
        font-size: 11vw;
    }
    p
    {
        
        font-size: 4.25vw;
        line-height: 1.3;
        margin: 22px 0;
    }
    .header
    {
        
        background: #2ECA7F;
        height: 120px;
        position: fixed;
        top:0;
        z-index: 3;
        width: 100%;
        height: 100px;
        
    }
    .header.dark
    {
        
        background: #121212;
        border-bottom: 2px solid #1E1E1E;
        
    }

    .container
    {
        width: 95%;
        margin: auto;
        height: 40000px;
    }

    .header .me
    {
        width: 70%;
        padding-top: 0px;
        color: white;
        float: left;
    }
    .header h2
    {
        font-weight: bold;
    font-size: 9vw;
    font-family: Candara;
    margin-bottom: 0;
    margin-top: 20px;
        
    }
    .header h3
    {
        font-size: 5vw;
        font-weight: 300;
        margin-top:3px;
        font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    .header .button-dark
    {
        float: right;
        width: 40px;
        height: 20px;
        background-color: white;
        border-radius: 30px;
        margin-top: 40px;
        border: 2px solid #444;
        cursor: pointer;
    }
    .header .button-dark .button
    {
        background-color: white;
        border: 2px solid #444;
        width: 17px;
        height: 17px;
        margin-top: -.222px;
        margin-left: 0px;
        border-radius: 50%;
    }
    .header .button-dark .button.dark
    {
        background-color: black;
        border: none;
        margin-left: 20px;
        margin-top: 1.22px;

        
    }
    .container .A
    {
        font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        position: absolute;
        top: 44px;
        left: 258px;
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
    }
    .container .A.dark
    {
        color:white;
    }
    .container .A.dark:hover
    {
        color:#2ECA7F;
    }
    .container .A:hover
    {
        color:white ;
    }
    
    


    /*home*/
    .con
    {
        width: 95%;
        margin: auto;
    }
    .con.dark
    {
        background: #131418;
        color: white;
    }



    /*projects*/
    .projects
    {
        margin: 150px auto 0 auto;
        color: #444;
        
        height: 650px;
    }
    .projects.dark
    {
        
        color: white;
    }
    .projects h2
    {
        font-size: 35px;
        
    }
    .projects .boxs
    {
        width: 81%;
    margin: 0 auto;
    height: 500px;
        
    }
    .projects .boxs .box
    {
        margin: 0px auto;
        
        width: 90%;
        height: 500px;
        background: #FFFFFF;
        box-shadow: 5px 5px 7px grey;
        border-radius: 3px;
        text-align: center;
    }
    .projects .boxs .box.dark
    {
        background: #131418;
    }
    .projects .boxs .box .b
    {
        width: 250px;
        height: 250px;
        background: white;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 15px;
        text-align: center;
    
    }
    .projects .boxs .box div
    {
        height: 50%;
        margin-top: auto;

    }
    .projects .boxs .box .b img
    {
        
        width: 80%;
        margin-top: 20px;
    }
    .projects .boxs .box span
    {
    text-transform: capitalize;
    }
    .projects .boxs .box a
    {
    color: #444;
    font-size: 20px;
    }
    .projects .boxs .box a.dark
    {
    color: white;
    }
    .projects .boxs .box a:hover
    {
    color: #2ECA7F;
    }
    /*projects*/

    /*icons*/
    .icons 
    {
        margin: 80px auto;
        width: 90%;
        height: 50px;
    }
    .icons a
    {
        width: 42px;
        height: 42px;
        background: #444;
        border-radius: 50%;
        position: relative;
        float: left;
        margin-right: 10px;
        text-align:center;
    }
    .icons a:hover
    {
        background: #2ECA7F;
    }
    .icons a i
    {
        font-size: 20px;
        /*position: absolute;
        top: 28%;
        left: 35%;*/
        text-align:center;
        color: white;
        margin-top: 11px;
    }
    /*icons*/

    hr
    {
        margin-top: 65px;
        height: 1px;
        background: #000;
        border: none;
        
    }
    .footer
    {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    .footer p
    {
        font-size: 4vw;
    }
    .footer.dark
    {
        color: white;
    }
 }